<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smalltree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,164}</string>
                <key>spriteSourceSize</key>
                <string>{185,164}</string>
                <key>textureRect</key>
                <string>{{0,0},{185,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smalltree_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,164}</string>
                <key>spriteSourceSize</key>
                <string>{185,164}</string>
                <key>textureRect</key>
                <string>{{185,0},{185,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smalltree_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,164}</string>
                <key>spriteSourceSize</key>
                <string>{185,164}</string>
                <key>textureRect</key>
                <string>{{370,0},{185,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smalltree_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,164}</string>
                <key>spriteSourceSize</key>
                <string>{185,164}</string>
                <key>textureRect</key>
                <string>{{555,0},{185,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>smalltree.png</string>
            <key>size</key>
            <string>{740,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3031f2da89ffff6c0ee818d06fb46d25:f3530bc3ed24ad2c495774bff1cb077f:c9a4fde266947effd330cd1255088bcd$</string>
            <key>textureFileName</key>
            <string>smalltree.png</string>
        </dict>
    </dict>
</plist>
