<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>smalltree_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{150,138}</string>
			<key>spriteSourceSize</key>
			<string>{150,140}</string>
			<key>textureRect</key>
			<string>{{1,361},{150,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>smalltree_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,0}</string>
			<key>spriteSize</key>
			<string>{128,140}</string>
			<key>spriteSourceSize</key>
			<string>{150,140}</string>
			<key>textureRect</key>
			<string>{{1,101},{128,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>smalltree_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{98,140}</string>
			<key>spriteSourceSize</key>
			<string>{150,140}</string>
			<key>textureRect</key>
			<string>{{1,1},{98,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>smalltree_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,0}</string>
			<key>spriteSize</key>
			<string>{128,140}</string>
			<key>spriteSourceSize</key>
			<string>{150,140}</string>
			<key>textureRect</key>
			<string>{{1,231},{128,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>smalltree_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,140}</string>
			<key>spriteSourceSize</key>
			<string>{150,140}</string>
			<key>textureRect</key>
			<string>{{1,501},{150,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>small_tree.png</string>
		<key>size</key>
		<string>{152,642}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:514c09d0d384254253090e7969108b54:297ec013863c045f90b8faa91a010459:0fdea27072bd440e07296261bd03b879$</string>
		<key>textureFileName</key>
		<string>small_tree.png</string>
	</dict>
</dict>
</plist>
