<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,-26}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{356,105}</string>
                <key>textureRect</key>
                <string>{{172,1},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{128,-29}</string>
                <key>spriteSize</key>
                <string>{78,43}</string>
                <key>spriteSourceSize</key>
                <string>{356,105}</string>
                <key>textureRect</key>
                <string>{{1,219},{78,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{128,-33}</string>
                <key>spriteSize</key>
                <string>{78,37}</string>
                <key>spriteSourceSize</key>
                <string>{356,105}</string>
                <key>textureRect</key>
                <string>{{158,60},{78,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{119,-32}</string>
                <key>spriteSize</key>
                <string>{88,39}</string>
                <key>spriteSourceSize</key>
                <string>{356,105}</string>
                <key>textureRect</key>
                <string>{{68,60},{88,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{119,-26}</string>
                <key>spriteSize</key>
                <string>{92,51}</string>
                <key>spriteSourceSize</key>
                <string>{356,105}</string>
                <key>textureRect</key>
                <string>{{176,99},{92,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{116,-23}</string>
                <key>spriteSize</key>
                <string>{92,57}</string>
                <key>spriteSourceSize</key>
                <string>{356,105}</string>
                <key>textureRect</key>
                <string>{{95,199},{92,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,7}</string>
                <key>spriteSize</key>
                <string>{92,59}</string>
                <key>spriteSourceSize</key>
                <string>{356,105}</string>
                <key>textureRect</key>
                <string>{{1,158},{92,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,23}</string>
                <key>spriteSize</key>
                <string>{102,57}</string>
                <key>spriteSourceSize</key>
                <string>{356,105}</string>
                <key>textureRect</key>
                <string>{{68,1},{102,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,19}</string>
                <key>spriteSize</key>
                <string>{108,55}</string>
                <key>spriteSourceSize</key>
                <string>{356,105}</string>
                <key>textureRect</key>
                <string>{{1,101},{108,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-1}</string>
                <key>spriteSize</key>
                <string>{96,63}</string>
                <key>spriteSourceSize</key>
                <string>{356,105}</string>
                <key>textureRect</key>
                <string>{{111,101},{96,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-20}</string>
                <key>spriteSize</key>
                <string>{98,65}</string>
                <key>spriteSourceSize</key>
                <string>{356,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-149,-28}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{356,105}</string>
                <key>textureRect</key>
                <string>{{189,193},{56,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>squirrel.png</string>
            <key>size</key>
            <string>{239,263}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f3a4d70e1121c87d6e14e285b90c7ec:7daf00c31f149e6de6b3114445ebd246:f323e49e4dd31f2fd72ef6d8d73d6c59$</string>
            <key>textureFileName</key>
            <string>squirrel.png</string>
        </dict>
    </dict>
</plist>
